/* PAGINATION */

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* COVER IMAGE SIZE RESPONSIVITY */

.book-cover img {
  height: 12rem;
  width: 9rem;
  object-fit: cover;
}

@media (max-width: 576px) {
  .book-cover img {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .book-cover img {
    height: 18rem;
    width: auto;
  }
}

/* NAVBAR WIDTH RESPONSIVITY */

@media (min-width: 992px) {
  .navbar-expand-lg .container-fluid{
    max-width: 75%;
  }
}